{{#if postList}}
<H1>POST Request Received</H1>
<ul>
  {{#each postList}}
    <li>{{this.name}}: {{this.value}}</li>
  {{/each}}
</ul>
{{/if}}
{{#if getList}}
<H1>GET Request Received</H1>
<ul>
  {{#each getList}}
    <li>{{this.name}}: {{this.value}}</li>
  {{/each}}
</ul>
{{/if}}


